<h1>Contact us</h1>
<p>Out users are welcomed to contact us in the manner they find the most appropriate.</p>
<ul>
  <li>support@questionanaire.ninja</li>
  <li>buisness@questionanaire.ninja</li>
  <li>Phone: 1-800-QUES-TION</li>
</ul>
<ul>
  <li>Buisness hours:</li>
  <li>Mon: 4 A.M. - 12 A.M.</li>
  <li>Tue: 4 A.M. - 12 A.M.</li>
  <li>Wed: 4 A.M. - 12 A.M.</li>
  <li>Thu: 4 A.M. - 12 A.M.</li>
  <li>Fri: 4 A.M. - 12 A.M.</li>
  <li>Weekend: N/A</li>
</ul>
